.item-image {
    width: 80%;
    margin: 30px auto 40px;
    // :global {
    //     .skeleton-image {
    //         height: 129px;
    //     }
    // }
}
.item-colors {
    display: flex;
    // align-items: center;
    justify-content: center;
    :global {
        .skeleton-item {
            margin: 0 5px 15px;
        }
    }
}
.item-info {
    margin-left: auto;
    margin-right: auto;
}