body {
	padding-top: 100px;
    color: $default-black;
    font-size: 14px;
    font-family: $font-family-base;
    line-height: 1.4;
    letter-spacing: 0;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Outfit', sans-serif;
}

img {
    max-width: 100%;
    border: none;
}

div,
dl,
dt,
dd,
ul,
li,
form,
p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

ins {
    text-decoration: none;
}

a {
    color: $default-black;
    text-decoration: none;
    outline: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: $primary-color;
    text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: inherit;
    line-height: 1.1;
}

h1 {
    font-weight: 500;
    font-size: 36px;
}

h2 {
    font-weight: 500;
    font-size: 30px;
}

h3 {
    font-weight: normal;
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.clearfix::after {
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.clearfix {
    zoom: 1;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

/*aniview animation bof*/

	// @keyframes slideInUp {
	// 	0% {
	// 		opacity: 0;
	// 		transform: translateY(20px);
	// 	}
	// 	100% {
	// 		opacity: 1;
	// 		transform: translateY(0);
	// 	}
	// }
	// .animate__slideInUp {
	// 	animation-name: slideInUp !important;
	// 	transition: opacity ease 2s;
	// }
	.animate__animated {
		animation-timing-function: cubic-bezier(0.24, 0, 0.64, 1);
	}

    @keyframes ani {
        0% {
            margin-top: 150px;
        }
        100% {           
            margin-top: 0;
        }
    }

    .animate__textanione {
		animation:fivetextani 1s;
		-webkit-animation:fivetextani 1s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
	}
	.animate__textanitwo {
		animation:fivetextani 1s;
		-webkit-animation:fivetextani 1s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-delay:.5s;
		-webkit-animation-delay:.5s;
	}
	.animate__textanithree {
		animation:fivetextani 1s;
		-webkit-animation:fivetextani 1s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-delay:1s;
		-webkit-animation-delay:1s;
	}
	.animate__textanifour {
		animation:fivetextani 1s;
		-webkit-animation:fivetextani 1s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
	}

	@keyframes fivetextani {
		0% {
			position: absolute;
			top: 150px;
		}
		100% {   
			position: absolute;
			top: 0;		
		}
	}

    
    .animate__anicover {
		animation:anicover 1s;
		-webkit-animation:anicover 1s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
	}
	
	.animate__anicovera {
		animation:anicover 1s;
		-webkit-animation:anicover 1s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-delay: 1.4s;
		-webkit-animation-delay: 1.4s;
	}
	.animate__imgc {		
		animation:imgcover 1s;
		-webkit-animation:imgcover 1s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
	}
	.animate__imgca {		
		animation:imgcover 1s;
		-webkit-animation:imgcover 1s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-delay: 1.4s;
		-webkit-animation-delay: 1.4s;
	}

	@keyframes anicover {
		0% {
			transform: scale(1.05);
		}
		100% {           
			transform: scale(1);		
		}
	}

	@keyframes imgcover {
		0% {
			left: 0;
		}
		100% {           
			left: 100%;		
		}
	}


  /*aniview animation eof*/