h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: inherit;
    line-height: 1.1;
}

h1 {
    font-weight: 500;
    font-size: 36px;
}

h2 {
    font-weight: 500;
    font-size: 30px;
}

h3 {
    font-weight: normal;
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.clearfix::after {
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.clearfix {
    zoom: 1;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}