.lele-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 25px;
  // content-visibility: auto;
	// contain-intrinsic-size: 1px 5000px;
  img, video {
    width: 100%;
    height: auto;
  }
  // img {
    // content-visibility: auto;
  // }
}

.lele-top-banner {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 1920px;
  }
  .banner-box {
    @include image-box(768, 768);
    @media (min-width: 768px) {
      @include image-box(1920, 650);
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .top-txt {
    position: absolute;
    top: 14%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    text-align: center;

    @media (min-width: 768px) {
      top: 47.5%;
      left: 30.7%;
      width: 44.74%;
    }

    p {
      display: none;
      margin-top: 16px;
      font-size: 17px;

      @media (min-width: 768px) {
        display: block;
      }

      @media (min-width: 1100px) {
        font-size: 26px;
        margin-top: 23px;
      }

      @media (min-width: 1440px) {
        font-size: 30px;
      }
    }
  }

  .txt-box {
    margin: 0 auto;
    max-width: 859px;
    .img-box {
      @include image-box(859, 220);
    }
  }

  .tip {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    @media (min-width: 768px) {
      right: 20px;
      bottom: 18px;
    }
  }
}

.top-banner-text {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 33px 10px 0;

  @media (min-width: 768px) {
    padding-top: 70px;
  }

  @media (min-width: 800px) {
    padding-top: 99px;
  }

  @media (min-width: 1300px) {
    padding-top: 101px;
  }

  .text-headline-wrapper {
    position: relative;
    width: 100%;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    color: #f624f9;
    text-transform: uppercase;
    font-display: Optional;
    @media (min-width: 768px) {
      font-size: 60px;
    }

    @media (min-width: 801px) {
      font-size: 72px;
    }

    @media (min-width: 1351px) {
      font-size: 100px;
    }

    @media (min-width: 1441px) {
      font-size: 92px;
    }
   
  }

  .text-box {
    @media (min-width: 768px) {
      height: 60px;
      overflow: hidden;
    }

    @media (min-width: 801px) {
      height: 72px;
    }

    @media (min-width: 1351px) {
      height: 100px;
    }
    @media (min-width: 1441px) {
      height: 125px;
    }

    & > span {
      display: inline-block;
      line-height: 1;
    }
  }

  p {
    width: 100%;
    max-width: 320px;
    padding-top: 15px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-align: center;

    @media (min-width: 768px) {
      max-width: 620px;
      padding-top: 22px;
      font-size: 24px;
      line-height: 29px;
    }

    @media (min-width: 1200px) {
      max-width: 920px;
      padding-top: 38px;
    }
  }
}

.list-container {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  justify-content: center;
  margin: 40px auto 50px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    margin: 60px auto 85px;
    padding: 0 10px;
  }
  @media (min-width: 1200px) {
    margin: 50px auto 135px;
    padding: 0 20px;
    max-width: 1420px;
  }
}

/*adjust list margin bof*/
.frame-list-one {
  margin-top: 40px;
  @media (min-width: 900px) {
    margin-top: 70px;
	}
  @media (min-width: 1200px) {
    margin-top: 80px;
	}
  @media (min-width: 1440px) {
    margin-top: 96px
	}
}

.frame-list-three {
  margin-top: 40px;
  @media (min-width: 900px) {
    margin-top: 70px;
	}
  @media (min-width: 1200px) {
    margin-top: 80px;
	}
  @media (min-width: 1440px) {
    margin-top: 104px;
	}
}

.frame-list-two,
.frame-list-four,
.frame-list-six {
  margin-top: 0;
  @media (min-width: 768px) {
    margin-top: 64px;
	}
  @media (min-width: 900px) {
    margin-top: 134px;
	}
  @media (min-width: 1200px) {
    margin-top: 154px;
	}
  @media (min-width: 1440px) {
    margin-top: 234px;
	}
}

.frame-list-five,
.frame-list-seven {
  margin-top: 40px;
  @media (min-width: 900px) {
    margin-top: 70px;
	}
  @media (min-width: 1200px) {
    margin-top: 80px;
	}
  @media (min-width: 1440px) {
    margin-top: 90px;
	}
}
/*adjust list margin eof*/
.lele-container-one {
  display: grid;
  grid-template-columns: minmax(auto, 768px);
  justify-content: center;
  gap: 15px;
  font-size: 0;

  @media (min-width: 768px) {
    grid-template-columns: minmax(37.5%, 720px) minmax(61.5%, 1180px);
    // grid-template-columns: 37.5% 61.5%;
    gap: 1%;
  }

  .one-left {
	  // content-visibility: auto;
  	// contain-intrinsic-size: 1px 5000px;
    .img-box {
      @include image-box(768, 650);
      @media (min-width: 768px) {
        @include image-box(720, 800);
      }
    }
  }
  .one-right {
	  // content-visibility: auto;
  	// contain-intrinsic-size: 1px 5000px;
    .img-box {
      @include image-box(768, 650);
      @media (min-width: 768px) {
        @include image-box(1180, 800);
      }
    }
  }
}

.frame-name {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 12px;
  color: #000;
  opacity: 0.7;

  @media (min-width: 768px) {
    right: 25px;
  }
}
.frame-name-two {
  left: 15px;
  right: auto;

  @media (min-width: 768px) {
    right: 25px;
    left: auto;
  }
}

.img-cover {
  @media (min-width: $desktop) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
  }
}

.lele-container-two {
  display: grid;
  grid-template-columns: 100%;
  max-width: 768px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
  @media (min-width: 768px) {
    max-width: 1600px;
    grid-template-columns: 45% 55%;
    &.revert {
      grid-template-columns: 55% 45%;
      .content-img {
        grid-column: 2;
        grid-row: 1;
      }
      .content-frame {
        grid-column: 1;
        grid-row: 1;
      }
      .lele-svg {
        left: -15%;
      }
      .content-text-two {
        text-align: right;
      }
      .lele-frame-content-text {
        max-width: 590px;
      }
    }
  }

  .lele-frame-content-text {
    max-width: 320px;
  }

  .skeleton-content-img {
    height: 0;
    max-width: 768px;
    padding-bottom: calc((650 / 768)*100%);
    @media (min-width: 768px) {
      max-width: 720px;
      padding-bottom: calc((900 / 720)*100%);
    }
  }

  .content-img {
    position: relative;
    .img-box {
      @include image-box(768, 650);
      @media (min-width: 768px) {
        @include image-box(720, 900);
      }
    }
  }
  .content-frame {
    text-align: center;
    @media (min-width: 768px) {
      text-align: right;
      padding-right: 3%;
    }

    :global {
      .content-frame-item {
        max-width: unset;
      }
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      margin: 0;

      @media (min-width: 768px) {
        font-weight: 500;
        font-size: 24px;
      }

      @media (min-width: 1000px) {
        font-size: 34px;
      }

      @media (min-width: 1100px) {
        font-size: 44px;
      }

      @media (min-width: 1600px) {
        font-size: 56px;
      }
    }

    .lele-frame-content-text {
      width: 100%;
      max-width: 320px;
      font-size: 18px;
      margin: 0 auto;
      padding: 2px 10px 0;
      line-height: 22px;

      @media (min-width: 768px) {
        max-width: 100%;
        margin: 0;
        padding: 16px 0 0;
      }

      @media (min-width: 1100px) {
        font-size: 22px;
      }

      @media (min-width: 1600px) {
        font-size: 24px;
      }
    }
  }

  .content-text-two {
    width: 100%;
    padding-top: 22px;
    text-align: center;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 70%;
      padding-top: 5%;
      text-align: left;
    }

    @media (min-width: 1400px) {
      width: 77%;
    }

    @media (min-width: 1600px) {
      padding-top: 16%;
    }
  }

  .lele-svg {
    display: none;
    position: absolute;
    bottom: -13%;
    right: -15%;
    width: 30.6%;
    max-width: 285px;
    z-index: 99;

    @media (min-width: 768px) {
      display: block;
    }

    .svg-box {
      @include image-box(285, 284);
    }
  }
}

/*video banner*/
.lele-video-banner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  .video-box {
    @include image-box(1920, 1080);
  }

  video {
    display: block;
    width: 100%;
  }
  .vd-c::-webkit-media-controls {
    display: none !important;
  }

  .video-text {
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    &.none {
      display: none;
    }
  }
  .video-text-content {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;

    @media (min-width: 370px) {
      font-size: 30px;
    }

    @media (min-width: 420px) {
      font-size: 20px;
    }
    @media (min-width: 768px) {
      font-size: 56px;
    }
  }

  h2 {
    margin: 0 auto;
    width: 80%;
    max-width: 810px;
    @media (min-width: 768px) {
      width: 90%;
    }
    .img-box {
      @include image-box(810, 130);
    }
  }

  .text-btn {
    display: inline-block;
    width: 100%;
    max-width: 180px;
    padding: 5px;
    margin-top: 30px;
    font-size: 16px;
    color: #f6e44e;
    border: 2px solid #f6e44e;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

    @media (min-width: 500px) {
      margin-top: 77px;
    }

    @media (min-width: 768px) {
      max-width: 268px;
      font-size: 27px;
      padding: 8px 5px;
    }

    img {
      display: inline-block;
      max-width: 25px;
      padding-right: 10px;
      vertical-align: middle;
      @media (min-width: 768px) {
        padding-right: 15px;
      }
    }
    span {
      vertical-align: middle;
      padding: 0;
      text-transform: uppercase;
    }
  }
}

.lele-container-five {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

  .img-box {
    @include image-box(768, 650);
    @media (min-width: 768px) {
      @include image-box(1920, 800);
    }
  }
  .frame-name {
    right: 15px;
    @media (min-width: 768px) {
      left: 23px;
      right: 0;
    }
  }

  .container-five-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 56%;
    height: 100%;
    .text-box {
      position: relative;
			overflow: hidden;
    }
  }

  .container-five-text-container {
    display: table;
    width: 100%;
    height: 100%;
  }

  .container-five-text-content {
    display: table-cell;
    vertical-align: middle;
    color: #f6e44e;
    font-size: 24px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase;

    @media (min-width: 420px) {
      font-size: 36px;
      padding-bottom: 20%;
    }

    @media (min-width: 768px) {
      font-size: 48px;
      padding-bottom: 1%;
    }

    @media (min-width: 1000px) {
      font-size: 60px;
    }

    @media (min-width: 1400px) {
      font-size: 80px;
    }
    @media (min-width: 1600px) {
      font-size: 105px;
    }
  }

  .text-box {
    height: 28px;

    @media (min-width: 420px) {
      height: 36px;
    }

    @media (min-width: 768px) {
      height: 44px;
    }

    @media (min-width: 1000px) {
      height: 56px;
    }

    @media (min-width: 1400px) {
      height: 76px;
    }

    @media (min-width: 1600px) {
      height: 88px;
    }
  }
}

/* seven bof */
.lele-title-footer {
  // max-width: 720px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 36px;

  @media (min-width: 768px) {
    font-size: 36px;
  }
  @media (min-width: 1200px) {
    font-size: 56px;
    line-height: 1.1;
  }
}
.lele-text-footer {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 10px 20px;
  color: #000;
  font-size: 18px;
  text-align: center;
  line-height: 22px;

  @media (min-width: 768px) {
    max-width: 550px;
    padding: 23px 10px 45px;
    line-height: 1.4;
  }

  @media (min-width: 1200px) {
    max-width: 600px;
    padding-bottom: 100px;
    font-size: 24px;
  }
}
.lele-container-seven {
  .img-box {
    @include image-box(768, 650);
    @media (min-width: 768px) {
      @include image-box(1920, 800);
    }
  }
}
/* seven bof */

/*content bottom bof*/
.lele-footer {
  width: 100%;
  margin: 10px auto 5px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 65px;
  }

  @media (min-width: 1200px) {
    max-width: 1920px;
    margin: 100px auto;
  }

  p {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px 20px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000;

    @media (min-width: 768px) {
      padding-bottom: 17px;
      font-size: 24px;
      line-height: 1.4;
    }

    @media (min-width: 1200px) {
      padding-bottom: 38px;
    }
  }

  .btn {
    display: block;
    width: 80%;
    max-width: 234px;
    margin: 0 auto 10px;
    padding: 10px 5px;
    color: #fff;
    font-size: 18px;
    border: 1px solid #f624f9;
    border-radius: 10px;
    background: #f624f9;
    transition: all 0.25s ease-out;

    @media (min-width: 768px) {
      display: inline-block;
      font-size: 24px;
      width: 45%;
      max-width: 280px;
      margin: 10px;
      padding: 7px 5px;
    }
  }

  a.btn-box {
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: $btn-normal;
      border: 1px solid $btn-normal;
      background: none;
      border-color: $btn-normal;
    }
  }
}
.none {
  display: none !important;
}