// $font-path: 'http://localhost:3000';
// /*Outfit*/
@font-face {
    font-weight: 100;
    font-family: Outfit;
    font-style: normal;
    src: url('#{$font-path}/fonts/outfit.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-weight: 200;
    font-family: Outfit;
    font-style: normal;
    src: url('#{$font-path}/fonts/outfit.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-weight: 300;
    font-family: Outfit;
    font-style: normal;
    src: url('#{$font-path}/fonts/outfit.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-weight: 400;
    font-family: Outfit;
    font-style: normal;
    src: url('#{$font-path}/fonts/outfit.woff2') format('woff2');
    font-display: fallback;
}
@font-face {
    font-weight: 500;
    font-family: Outfit;
    font-style: normal;
    src: url('#{$font-path}/fonts/outfit.woff2') format('woff2');
    font-display: fallback;
}
@font-face {
    font-weight: 600;
    font-family: Outfit;
    font-style: normal;
    src: url('#{$font-path}/fonts/outfit.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-weight: 700;
    font-family: Outfit;
    font-style: normal;
    src: url('#{$font-path}/fonts/outfit.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-weight: 800;
    font-family: Outfit;
    font-style: normal;
    src: url('#{$font-path}/fonts/outfit.woff2') format('woff2');
    font-display: fallback;
}
