.header-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    color: #fff;
    font-size: 12px;
    background: #f6ebdc;
    transition: 0.3s;
    transition: all 0.3s;

    a {
        color: #fff;
        text-decoration: underline;
    }
}
