@import './footer-common';

.footer {
    min-height: 100px;
    color: $white;
    background: #282725;

    .links-title {
        :global {
            .ebd-collapse-header {
                padding: 12.5px 0 12.5px 15px;
                color: $white !important;
                font-weight: 500;
                font-size: 20px;
                border-bottom: 2px solid #484745;

                .ebd-collapse-arrow {
                    svg {
                        fill: $white;
                    }
                }
            }

            .ebd-collapse-content {
                line-height: 1.4;
            }

            .ebd-collapse-content-box {
                padding: 12px 0 15px 15px;
            }
        }
    }

    .links-item {
        display: block;
        margin: 10px 5px 10px 0;
        padding-bottom: 5px;
        color: $white;
        font-size: 16px;
    }

    .copyright {
        padding: 15px 0;
        color: $white;
        font-size: 12px;
        text-align: center;

        a {
            color: $white;
        }
    }

    .bottom-pwa-div {
        width: 160px;
        margin: 22px auto;
    }

    .bottom-pwa-btn {
        width: 100%;
        height: 40px;
        padding: 9px 20px;
        color: $white;
        font-size: 16px;
        line-height: 1.3;
        background-color: transparent;
        border: 1px solid $white;
    }

    .ca-language-link {
        padding: 0 0 17px;
    }

    .other {
        padding-top: 10px;
        text-align: center;

        .text-link {
            padding: 4px;

            a {
                color: $white;
            }
        }
    }

    .footer-newsweek {
        text-align: center;
    }
}
